[workspace]
members = [
    "rand_hc",
    "rand_isaac",
    "rand_jitter",
    "rand_sfc",
    "rand_xorshift",
    "rand_xoshiro",
]
exclude = [
    "benches",
]
resolver = "2"

[patch.crates-io]
rand_core = { git = "https://github.com/rust-random/rand_core", branch = "block_buffer" }
